/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --header-title-color: #db00ff;
  --title-shadow: #ff0070;
  --subtitle-color: #000028;
  --decor-color: #ff0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
  --padding: 20px;
}
